# Обязательно:
TELEGRAM_API_KEY=your_token_here

# Необязательно (ниже указаны значения по умолчанию):
# TELEGRAM_HOST=api.telegram.org
# SQLITE_PATH=user_data/sqlite/storage.db
# BATCH_SIZE=100
# POLL_TIMEOUT=1s